* {
    margin: 0;
    padding: 0;
}


.wrapper {
    margin: 10px 80px;
    line-height: 2em;
}

.burger {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 2em;
    color: #000;
    z-index: 1;
}

.burger:hover {
    cursor: pointer;
}

i.off {
    display: none;
}

i.fa-angle-up {
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40vh;
    background-color: #000;
    transition: .5s;
}

nav.off {
    top: -40vh;
}