* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: ubuntu, arial;
}

.gallery {
    min-height: 100vh;
    position: relative;
}
.gallery .title {
    position: absolute;
    top: 95%;
    left: 5%;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}
.gallery h1 {
    font-size: 60px;
    color: yellow;
    background-color: #000;
    padding: 10px 20px;
    margin-bottom: 15px;;
}

.gallery .images {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    position: absolute;
    top: 5%;
    right: 5%;
    /* height: 90%;
    width: 60%; */
    bottom: 5%;
    left: 35%;
    /* background-color: #666; */
}

.gallery a {
    /* flex-shrink: 1; */
    flex-basis: calc(50% - 40px);
    /* flex-grow: 1; */
    margin: 0 20px;
    background-color: #000;
    height: 22%;
    box-shadow: 0 0 3px 3px #888;
    /* sztuczka z maxymalizacją obszaru obrazków */
    position: relative;
    overflow: hidden;
}

img {
    /* display: block; */
    /* width: 100%; */
    /* sztuczka z maxymalizacją obszaru obrazków */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}